.body img {
  width: 200px;
  height: 200px;
}
@media (min-width: 420px) {
  .body img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
